@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600&display=swap');

body {
    background-color: #d8dddd;
    color: #33373b;
    margin: 0;
    font-family: 'Quicksand';
}

body.dark-mode {
    background-color: #000401;
    color: #d8dddd;
}

main {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

button {
    border-radius: 40px;
    font-size: 1.5rem;
    height: 60px;
    width: 200px;
    border: none;
    background-color: #33373b;
    color: #d8dddd;
    transition: all 0.5s linear;
}

button:hover {
    background-color: #000401;
}

button.dark-mode {
    background-color: #d8dddd;
    color: #33373b;
}

button.dark-mode:hover {
    background-color: #33373b;
    color: #d8dddd;
}

footer {
    width: 100%;
    background-color: #33373b;
    padding: 16px;
    color: #d8dddd;
    position: fixed;
    bottom: 0;
    text-align: center;
    font-weight: 400; 
}

footer.dark-mode {
    background-color: #8d9797;
    color:#000401;
}

